@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/**Themes**/

:root {
    --background: #0F1121;
    --element: #1BD96A;
    --element2: color-mix(in srgb, var(--background) 75%, var(--element) 25%);
    --deselected: #B0BAC5;
    --select: color-mix(in srgb, var(--background) 90%, white 10%);
    --select2: color-mix(in srgb, var(--element2) 90%, white 10%);
    --select3: color-mix(in srgb, var(--element) 80%, black 20%);
    --title: #ECF9FB;
    --divider: #a8b1dd79;

    --transition: 0.1s ease-out
}

h1{
    font-size: 50px;
    color: var(--title);
    margin-top: 80px;
}
h2{
    margin-left: 15px;
    font-size: 30px;
}
h3{
    font-size: 25px;
    font-weight: 400;
}
h4{
    color: var(--deselected);
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

/**General**/

body{
    background: black;
    color: white;
    width: 100%;
    height: 100vh;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    scroll-behavior: smooth;
}
.container1{
    background: var(--background);
    width: 100%;
    height: 100%;
}

/**Header**/

header{
    display: flex;
    flex-direction: row;
    position: sticky;
    height: 110px;
}
.headerdiv{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbutton1,
.headerbutton2{
    text-decoration: none;
    background: var(--element2);
    color: var(--element);
    border: 0px;
    margin: 5px;
    height: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    transition: var(--transition);
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.headerbutton1:hover{
    background: var(--select);
}
.headerbutton2:hover{
    background: var(--select2);
}
.headerbutton1:active,
.headerbutton2:active{
    transform: scale(0.90);
}
.headerbutton1{
    background: transparent;
    color: var(--deselected);
}
.headerbuttonimg{
    margin-right: 10px;
}